.vscode
#Ignore Server files
Server/.vscode
Server/MainServer/.vscode
Server/MainServer/Server
Server/MainServer/main.o
Server/MainServer/client.o
Server/MainServer/socket.o
Server/MainServer/protocol.o
Server/MainServer/loggers/*.txt

#Ignore ServerInterface files
/Interface/Server_Interface/.vs/Server_Interface/v15/Server/sqlite3
/Interface/Server_Interface/.vs/Server_Interface/v15/.suo
/Interface/Server_Interface/.vs/Server_Interface/DesignTimeBuild
/Interface/Server_Interface/.vs/Server_Interface/obj/Debug

#TestServer&Interface
Test_Interfaces/client
Test_Interfaces/client.o
Test_Interfaces/server
Test_Interfaces/server.o

#Client
